- var classes 	= ['hide', 'fade', 'animate']
- var attr 		= {'data-ng-change': 'runChangeMethod'}

doctype html
html(lang="")
	head
		link(rel="stylesheet", src="vendor/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", src="vendor/bootstrap/dist/css/bootstrap-theme.min.css")
		block title
			title My new website on node.js!
	body
		block content
			h1= title
			h2= message
		include ./footer.jade