- var classes 	= ['hide', 'fade', 'animate']

doctype html
html
	head
		link(rel="stylesheet", src="css/all.min.css")
		block title
			title My new website on node.js!
	body(data-ng-app="mainModule")
		block content
			h1= title
			h2= message
		include ./footer.jade